In [1]:
import pandas as pd

### Download the green_trip_data

In [2]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz

--2023-01-24 22:27:05--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230124T155706Z&X-Amz-Expires=300&X-Amz-Signature=c2bcd2966f8e5ba0bfa113ce64c9b59eac7a26232a9a9d7cc881c8d005fc8e15&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-01-24 22:27:05--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230124T155706Z&X-Amz-Expires=300&X-Amz-Signature=c2bcd2966f8e5ba0bfa113ce64c9b59eac7a26232a9a9d7cc881c8d005fc8e15&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11099245 (11M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-01.csv.gz.1’

green_tripdata_2019 100%[===================>]  10.58M  1.66MB/s    in 7.5s

2023-01-24 22:27:15 (1.41 MB/s) - ‘green_tripdata_2019-01.csv.gz.1’ saved [11099245/11099245]

#### Read parquet file as panda

In [3]:
df = pd.read_csv('green_tripdata_2019-01.csv.gz', compression='gzip', nrows=100)

In [4]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

#### Transform datetime columns

In [5]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

#### Initalize Postgres Database

In [6]:
from sqlalchemy import create_engine, text

In [7]:
engine = create_engine('postgresql://root:root@localhost:5431/ny_taxi')

In [8]:
print(pd.io.sql.get_schema(df, name='green_taxi_trips', con=engine))

CREATE TABLE green_taxi_trips (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [9]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv.gz', compression='gzip', iterator=True, chunksize=100000)

In [10]:
df = next(df_iter)

In [11]:
len(df)

100000

In [12]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [13]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.00,0.5,0.5,0.00,0.00,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.00,0.5,0.5,0.00,0.00,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.50,0.5,0.5,0.00,0.00,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.50,0.5,0.5,2.96,0.00,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.00,0.5,0.5,0.00,0.00,NaN,0.3,19.30,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-01-06 09:56:09,2019-01-06 10:01:30,N,1,130,216,1,1.23,6.00,0.0,0.5,0.00,0.00,NaN,0.3,6.80,2,1,NaN
99996,2,2019-01-06 09:12:49,2019-01-06 09:52:38,N,5,218,16,1,21.44,47.65,0.0,0.5,0.00,5.76,NaN,0.0,53.91,1,2,NaN
99997,2,2019-01-06 09:02:06,2019-01-06 09:37:42,N,5,139,188,1,14.77,37.84,0.0,0.5,0.00,0.00,NaN,0.0,38.34,1,2,NaN
99998,2,2019-01-06 09:55:01,2019-01-06 10:04:34,N,1,72,188,1,1.80,8.50,0.0,0.5,0.00,0.00,NaN,0.3,9.30,1,1,NaN
99999,2,2019-01-06 09:59:04,2019-01-06 10:24:33,N,5,89,225,1,7.03,23.14,0.0,0.5,0.00,0.00,NaN,0.0,23.64,1,2,NaN

In [14]:
df.head(n=0).to_sql(name='green_taxi_trips', con=engine, if_exists='replace')

0

In [15]:
%time df.to_sql(name='green_taxi_trips', con=engine, if_exists='append')

CPU times: user 3.54 s, sys: 167 ms, total: 3.7 s
Wall time: 8.83 s

1000

In [17]:
from time import time

#### Inserting data with iterator to postgresql database

In [18]:
for df in df_iter:
    t_start = time()
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_trips', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk, took %3.f second' %(t_end - t_start))

inserted another chunk, took   8 second
inserted another chunk, took   8 second
inserted another chunk, took   8 second
inserted another chunk, took   8 second
inserted another chunk, took   8 second
inserted another chunk, took   3 second

#### Download Zone CSV data

In [19]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-01-24 22:28:47--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.135.16, 52.217.79.206, 52.217.165.184, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.135.16|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv.2’

taxi+_zone_lookup.c 100%[===================>]  12.03K  35.9KB/s    in 0.3s

2023-01-24 22:28:49 (35.9 KB/s) - ‘taxi+_zone_lookup.csv.2’ saved [12322/12322]

In [20]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [21]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [22]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

#### Create database connection

In [23]:
conn = engine.connect()

#### Question 3. Count records

In [24]:
sql_text = text("SELECT count(1) FROM green_taxi_trips WHERE DATE(lpep_pickup_datetime) = '2019-01-15' AND DATE(lpep_dropoff_datetime) = '2019-01-15'")
result = conn.execute(sql_text).fetchall()[0][0]
print(f"Number of taxi trips = {result}.")

Number of taxi trips = 20530.

#### Question 4. Largest trip for each day

In [25]:
sql_text = text("SELECT DATE(lpep_pickup_datetime), lpep_dropoff_datetime FROM green_taxi_trips ORDER BY trip_distance DESC LIMIT 1") 
result = conn.execute(sql_text).fetchall()[0][0]
print(f"The day of the largest trip = {result}.")

The day of the largest trip = 2019-01-15.

#### Question 5. The number of passengers

In [26]:
sql_text_2p = text("SELECT count(1) FROM green_taxi_trips WHERE DATE(lpep_pickup_datetime) = '2019-01-01' AND passenger_count = 2") 
sql_text_3p = text("SELECT count(1) FROM green_taxi_trips WHERE DATE(lpep_pickup_datetime) = '2019-01-01' AND passenger_count = 3") 

result_2p = conn.execute(sql_text_2p).fetchall()[0][0]
result_3p = conn.execute(sql_text_3p).fetchall()[0][0]

print(f"Answer 2: {result_2p} ; 3: {result_3p}")

Answer 2: 1282 ; 3: 254

#### Question 6. Largest tip

In [27]:
sql_text = text("SELECT zdo.\"Zone\" FROM zones zdo WHERE zdo.\"LocationID\" = ( SELECT t.\"DOLocationID\" FROM green_taxi_trips t JOIN zones zpu ON t.\"PULocationID\" = zpu.\"LocationID\" WHERE zpu.\"Zone\"='Astoria' ORDER BY t.tip_amount DESC LIMIT 1)")
result = conn.execute(sql_text).fetchall()[0][0]
print(f"The day of the largest trip = {result}.")

The day of the largest trip = Long Island City/Queens Plaza.